*{
    transition: all .4s ease-in;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: #3399cc;
    padding: 10px 80px;
}
header{
    margin-left: 200px;
    font-size: 18px;
}
footer{
    margin-top: 10px;
    margin-left: 250px;
    font-size: 18px;
}
.weather-wrap{
    list-style: none;
    width: 600px;
    border: 2px solid #fff;
    padding: 0;
    font-size: 0;
}
.weather-element{
    border: 2px solid #fff;
    display: inline-block;
    height: 80px;
    width: 25%;
    padding: 5px 0;
    font-size: 16px;
    opacity: 0.75;
}
.weather-element:hover{
    opacity: 1;
}
.weather-element.weather-medium{
    width: 50%;
}
.weather-element.weather-big{
    width: 100%;
}
.weather-element:nth-child(2){
    background-color: #33cccc;
}

.city-name, .temp{
    text-align: center;
    height: 35px;
    line-height: 35px;
}
.temp{
    opacity: 0.65;
}
.weather-element:nth-child(3){
    background-color: #9a669a;
}
.weather-element:nth-child(4){
    background-color: #c34545;
}
.weather-element:nth-child(5){
    background-color: #e36749;
}
.weather-element:nth-child(6){
    background-color: #ffcd66;
}
.weather-element:nth-child(7){
    background-color: #9acd9a;
}
.weather-element:nth-child(8){
    background-color: #669a9a;
}
.weather-element:nth-child(9){
    background-color: #cd669a;
}
.weather-element:nth-child(10){
    background-color: #2f9a66;
}
.weather-element:nth-child(11){
    background-color: #66669a;
}